@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}
span{
    color: orange;
}


h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: black;
}

.brand {
    color: white;
}

.brand span {
    color: orange;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.menu li {
    list-style: none; 
}

.menu a {
    color: white;
    text-decoration: none;
    padding:10px 5px;
    border-radius: 20px;
    cursor: pointer;
}

.menu a:hover {
    background-color: orange;
    color: black;
}



a{
    color: white;
    
}
li{
    text-align: center;
    color: black;
}

